@using DVSAdmin.BusinessLogic.Models;
@using DVSAdmin.CommonUtility.Models;
@model ProviderProfileDto;
@{
    ViewData["Title"] = "What will happen once you publish services on the register";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "PublishService", "RegisterManagement", new { providerId = Model.Id }, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">What will happen once you publish services on the register</h1>
                <p class="govuk-body">The service provider’s information will be publicly available on the register of digital identity and attribute services.</p>
                <h2 class="govuk-heading-m">Who will receive confirmation of this decision</h2>
                <p class="govuk-body">The service provider will receive an email confirming that their details have been published. </p>

                <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                                 
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address of primary contact
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PrimaryContactEmail
                    </dd>
                </div>


                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address of secondary contact
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SecondaryContactEmail
                        </dd>
                    </div>
                    </dl>
                  

                    <h2 class="govuk-heading-m">Who else will receive an email notification</h2>
                <p class="govuk-body">The Conformity Assessment Body and OfDIA will also receive an email notification.</p>
                <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                    @foreach (var email in Model.ActiveCabEmails)
                    {
                    <div class="govuk-summary-list__row">                      
                        <dt class="govuk-summary-list__key">
                            Email address of CAB
                        </dt>
                        <dd class="govuk-summary-list__value">                           
                            <div class="govuk-!-margin-bottom-1">
                                @email
                            </div>                          
                        </dd>                           
                    </div>
                    }
                 
                </dl>
                <div class="govuk-button-group" id="submitvalidation">
                    <a href="about-to-publish?providerId=@Model.Id" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Proceed with publication
                    </a>

                    <a href="publish-service?providerId=@Model.Id" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>

