@{
    ViewData["Title"] = "Northrow Limited - Provider Review";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ApproveSubmission", "CertificateReview", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-xl">Northrow Limited</h1>

                @await Html.PartialAsync("~/Views/RegisterManagement/PartialViews/_PublicationStatusTableView.cshtml")

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Basic information
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Public contact email
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Remote Verify
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Telephone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    07532167283
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Website address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    www.northrow.co.uk
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Service 1
                        </h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a class="govuk-link" href="#">View service details <span class="govuk-visually-hidden"> of {Northrow Limited} service {Remote Verify}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Service name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Remote Verify
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Publication status
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--yellow">
                                        Ready to publish
                                    </strong>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <div class="govuk-button-group">

                    <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Publish provider
                    </a>

                </div>
            </div>
        </div>
    </main>

</div>

