﻿@using System.Reflection
@using System.ComponentModel
@model DVSAdmin.Models.RegManagement.MultipleRadiosViewModel

@{
    ViewData["Title"] = "Removal Reason";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ProviderDetails", "RegisterManagement", new { providerId = Model.ProviderId }, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Select a reason for removing this provider</h1>
                @using (Html.BeginForm("ProceedWithRemoval", "RegisterManagement", FormMethod.Post))
                {
                    <input type="hidden" name="ProviderId" value="@Model.ProviderId" />

                    @if (ViewData.ModelState["SelectedRemovalReason"] != null && ViewData.ModelState["SelectedRemovalReason"].Errors.Count > 0)
                    {
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }

                    @await Html.PartialAsync("~/Views/PartialViews/_MultipleRadioButtonGroupView.cshtml", Model)

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button">Continue</button>
                        <a href="provider-details?providerId=@Model.ProviderId" class="govuk-button govuk-button--secondary">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </main>
</div>



