@{
    ViewData["Title"] = "You are about to publish this service provider on the register";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ProviderReview", "ProviderReview", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">You are about to publish this service provider on the register</h1>
                <p class="govuk-body">The service provider will receive a confirmation email. The Conformity Assessment Body will also be notified of this decision.</p>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you publish this service provider’s details, this action can’t be undone.
                    </strong>
                </div>
                <div class="govuk-button-group" id="submitvalidation">
                    <button type="submit" class="govuk-button" data-module="govuk-button" name="publish" value="approve">
                        Publish
                    </button>
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="cancel" value="cancel">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>

