@model DVSAdmin.Models.SignUpViewModel
@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("CreateNewAccount", "Login", FormMethod.Post))
{
    @Html.HiddenFor(m => m.PasswordReset)
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="govuk-error-summary" data-module="govuk-error-summary">
                            <div role="alert">
                                <h2 class="govuk-error-summary__title">
                                    There is a problem
                                </h2>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        <li>
                                            <a href="#">Incorrect Email used for Sign Up</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Enter your email address</h1>

                    <p class="govuk-body">Your email address will only be used to send you security updates or if you need to recover your login details.</p>

                    <p class="govuk-body">You will receive a code to verify your email address.</p>

                    <div class="govuk-form-group @(Html.ViewData.ModelState.ContainsKey("Email") && Html.ViewData.ModelState["Email"].Errors.Count > 0 ? "govuk-form-group--error" :"" )">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" for="event-name">
                                Email address
                            </label>
                        </h1>
                        <div id="event-name-hint" class="govuk-hint">
                            You must have a gov.uk email address
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input", id = "email", name = "email" })
                    </div>

                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </main>
    </div>
}
