@model DVSAdmin.Models.EnterEmailViewModel
@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("CreateNewAccount", "Login", FormMethod.Post))
{
    @Html.HiddenFor(m => m.PasswordReset)
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Enter your email address</h1>

                    <p class="govuk-body">You will receive a code to verify your email address.</p>


                    @{
                        var emailViewModel = new TextBoxViewModel
                        {
                            PropertyName = "Email",
                            Label = "Email address",
                            Value = Model?.Email,
                            Hint = "You must have a gov.uk email address",
                            Class = "govuk-input",
                            HasError = Html.ViewData.ModelState.ContainsKey("Email") && Html.ViewData.ModelState["Email"].Errors.Count > 0,
                            ErrorMessage = Html.ViewData.ModelState.ContainsKey("Email") && Html.ViewData.ModelState["Email"].Errors.Count > 0 ?
                        Html.ViewData.ModelState["Email"].Errors[0].ErrorMessage : string.Empty,
                        };
                    }

                    @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", emailViewModel)

                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </main>
    </div>
}
