@model DVSAdmin.Models.LoginViewModel
@{
    ViewData["Title"] = "Sign in to your account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("LoginToAccount", "Login", FormMethod.Post))
{

    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }

                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Sign in to your account</h1>
                    @{
                        var emailViewModel = new TextBoxViewModel
                        {
                            PropertyName = "Email",
                            Label = "Email address",
                            Value = Model?.Email,
                            Class = "govuk-input govuk-input--width-20",
                            HasError = Html.ViewData.ModelState.ContainsKey("Email") && Html.ViewData.ModelState["Email"].Errors.Count > 0,
                            ErrorMessage = Html.ViewData.ModelState.ContainsKey("Email") && Html.ViewData.ModelState["Email"].Errors.Count > 0 ?
                        Html.ViewData.ModelState["Email"].Errors[0].ErrorMessage : string.Empty,
                        };
                    }

                    @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", emailViewModel)

                    @{
                        var passwordViewModel = new PasswordTextBoxViewModel
                        {
                            PropertyName = "Password",
                            Label = "Password",
                            hasShowPassword = true,
                            Value = Model?.Password,
                            Class = "govuk-input govuk-input--width-20",
                            HasError = Html.ViewData.ModelState.ContainsKey("Email") && Html.ViewData.ModelState["Password"].Errors.Count > 0,
                            ErrorMessage = Html.ViewData.ModelState.ContainsKey("Email") && Html.ViewData.ModelState["Password"].Errors.Count > 0 ?
                        Html.ViewData.ModelState["Password"].Errors[0].ErrorMessage : string.Empty,
                        };
                    }

                    @await Html.PartialAsync("~/Views/PartialViews/_PasswordTextBoxView.cshtml", passwordViewModel)

                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Sign in
                    </button>


                    <h2 class="govuk-heading-m">New users</h2>
                    <p class="govuk-body"><a class="govuk-link" href="~/">Sign up to the platform</a></p>


                    <h2 class="govuk-heading-m">Problems signing in</h2>
                    <p class="govuk-body"><a class="govuk-link" href="~/enter-email?passwordReset=true">I have forgotten my password</a></p>
                </div>
            </div>
        </main>
    </div>
}
