@model DVSAdmin.Models.MFACodeViewModel
@{

    ViewData["Title"] = "Multi-factor authentication required";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ConfirmMFACodeLogin", "Login", FormMethod.Post))
{
    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Multi-factor authentication required</h1>

                    <p class="govuk-body">Please confirm the six-digit passcode from your authenticator app to access your account.</p>

                    @{
                        var mfaViewModel = new TextBoxViewModel
                        {
                            PropertyName = "MFACode",
                            Label = "Enter the one time multi factor authentication code",
                            Value = Model?.MFACode,
                            Hint = "This is a six-digit passcode. For example, 623452",
                            Class = "govuk-input govuk-input--width-10",
                            HasError = Html.ViewData.ModelState.ContainsKey("MFACode") && Html.ViewData.ModelState["MFACode"].Errors.Count > 0,
                            ErrorMessage = Html.ViewData.ModelState.ContainsKey("MFACode") && Html.ViewData.ModelState["MFACode"].Errors.Count > 0 ?
                        Html.ViewData.ModelState["MFACode"].Errors[0].ErrorMessage : string.Empty,
                        };
                    }

                    @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", mfaViewModel)

                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Confirm
                    </button>

                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Where to find your multi-factor authentication code
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                Open the authenticator app on your smart device to retrieve the six-digit multi-factor authentication code
                            </p>

                        </div>
                    </details>
                </div>
            </div>
        </main>
    </div>
}