@model MFARegistrationViewModel
@{
    ViewData["Title"] = "Download Authenticator App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Open or download your authenticator app</h1>

                <p class="govuk-body">To finish setting up your account, you need to use Okta Verify.</p>

                <h2 class="govuk-heading-m">Download your authenticator app</h2>

                <p class="govuk-body"> If you don't already have Okta Verify installed on your smart phone, you must download and install it now.</p>
                        

                <a href="/mfa-registration/" type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </a>

            </div>
        </div>
    </main>
</div>
