@model MFARegistrationViewModel
@{
    ViewData["Title"] = "Download Authenticator App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Open or download your authenticator app</h1>

                <p class="govuk-body">To finish setting up your account, you need to use an authenticator app.</p>

                <h2 class="govuk-heading-m">Download your authenticator app</h2>

                <p class="govuk-body">If you don’t already have an authenticator app installed on your smart phone or tablet, you must download and install one. Examples of authenticator apps are: <a href="https://support.google.com/accounts/answer/1066447" class="govuk-link" rel="noreferrer noopener" target="_blank">Google Authenticator (opens in a new tab)</a>, <a href="https://support.microsoft.com/en-gb/account-billing/set-up-an-authenticator-app-as-a-two-step-verification-method-2db39828-15e1-4614-b825-6e2b524e7c95" class="govuk-link" rel="noreferrer noopener" target="_blank">Microsoft Authenticator (opens in a new tab)</a> and <a href="https://help.okta.com/eu/en-us/content/topics/end-user/ov-new-install-qr-ios.htm" class="govuk-link" rel="noreferrer noopener" target="_blank">Okta Verify (opens in a new tab)</a></p>
                        

                <a href="/mfa-registration/" type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </a>

            </div>
        </div>
    </main>
</div>
