@{
    ViewData["Title"] = "Password changed successfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Password changed successfully
                    </h1>
                </div>
                <p class="govuk-body">
                    You have successfully changed your password for the Digital Identity Register Portal.
                </p>
              
                <p class="govuk-body">
                    You can now use your account credentials to sign in to your account:
                </p>
                <p class="govuk-body">
                    <a href="~/login" class="govuk-link">Sign in to your account here</a>
                </p>
                <p class="govuk-body">
                    For security purposes, please do not share your account credentials with anyone else.
                </p>

            </div>
        </div>
    </main>
</div>