@{
    ViewData["Title"] = "Login to OfDIA Platform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Account created successfully
                    </h1>
                </div>

                <p class="govuk-body">
                    You have successfully created your account on the OfDIA Admin Platform.
                </p>

                <h3 class="govuk-heading-m">What Happens Next</h3>
                <p class="govuk-body">
                    You can log on to the platform <a href="~/login">here.</a>
                </p>
            </div>
        </div>
    </main>
</div>