@{
    ViewData["Title"] = "Sign up to the Digital Identity Register Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl govuk-!-margin-top-8">Sign up to the Digital Identity Register Portal</h1>

                <p class="govuk-body">Use this service to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Create an account on the Digital Identity Register Portal</li>
                    <li>Manage applications to join the register of digital identity and attribute services</li>
                    <li>Review applications</li>
                </ul>


                <p class="govuk-body">You must have a gov.uk email address. You will also need access to your mobile phone.</p>

                <a href="~/enter-email" class="govuk-button">Create a new account</a>

                <br />
                <a href="~/login" class="govuk-button govuk-button--secondary">Sign in</a>

            </div>
        </div>
    </main>
</div>