@{
    ViewData["Title"] = "OfDIA Admin Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl govuk-!-margin-top-8">Sign up to the Office for Digital Identities and Attributes Review Portal</h1>

                <p class="govuk-body">Use this service to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Create an account on the Office for Digital Identities and Attributes (OfDIA) Review Portal</li>
                    <li>Manage applications to join the register of trusted digital identity and attribute service providers</li>
                    <li>Review applications</li>
                </ul>


                <p class="govuk-body">You must have a gov.uk email address. You will also need access to your mobile phone.</p>

                <a href="~/sign-up" class="govuk-button">Create a new account</a>

                <br />
                <a href="~/login" class="govuk-button govuk-button--secondary">Sign in</a>

            </div>
        </div>
    </main>
</div>