
@{
    ViewData["Title"] = "AboutToIssueURN";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ConfirmIssueURN", "SecondaryCheck", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    You are about to issue a <br/>
                    unique reference number
                </h1>
                <p class="govuk-body">
                    The provider will be issued a unique reference number. The applicant and all
                    OfDIA Review Portal members will receive an email notifying them of this
                    decision.
                </p>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you issue the unique reference number, the action can’t be
                        undone.
                    </strong>
                </div>

                @using (Html.BeginForm("SaveApplicationApproval", "SecondaryCheck", FormMethod.Post))
                {
                    <div class="govuk-button-group">

                        <button type="submit" class="govuk-button govuk-button" data-module="govuk-button" >
                           Issue unique reference number
                        </button>

                    </div>
                }
            </div>
        </div>
    </main>
</div>

