@model DVSAdmin.Models.PreRegReviewListViewModel;
@using DVSAdmin.CommonUtility.Models.Enums;
@{
    ViewData["Title"] = "PreRegistrationReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
  @*   <main class="govuk-main-wrapper"> *@
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Pre-registration review</h1>
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#primary-check">
                                Primary Check
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#secondary-check">
                                Secondary Check
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#archive">
                                Archive
                            </a>
                        </li>
                        
                    </ul>
                    @await Html.PartialAsync("~/Views/PartialViews/_PrimaryChecksView.cshtml", Model)

                    @await Html.PartialAsync("~/Views/PartialViews/_SecondaryChecksView.cshtml", Model)

                     @await Html.PartialAsync("~/Views/PartialViews/_ArchiveView.cshtml", Model)


                    
                  
                </div>
            </div>
        </div>
  @*   </main> *@
</div>










