@model ConsentViewModel
@{
    ViewData["Title"] = "You have agreed to publish your service on the register";
    Layout = "~/Views/Shared/_LayoutConsent.cshtml";
}


@using (Html.BeginForm("GiveConsent", "Consent", FormMethod.Post))
{
    <div class="govuk-width-container">
        @Html.ActionLink("Back", "ProviderReview", "ProviderReview", null, new { @class = "govuk-back-link" })
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">You have agreed to publish your service on the register</h1>
                    <p class="govuk-body">You have agreed  to publish your service on the register of digital identity and attribute services. A confirmation email has been sent to you.</p>
                    <p class="govuk-body">You will receive an email confirming when your service has been published. This can take up to 5 working days.</p>
                </div>

            </div>
        </main>
    </div>


}


