
@{
    ViewData["Title"] = "Your application is already in progress";
    Layout = "~/Views/Shared/_LayoutConsent.cshtml";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-top-2">Your application is already in progress</h1>

                <p class="govuk-body">
                    Agreement has already been given to proceed with this application and it is currently being reviewed. You will receive an email within 3 weeks with the outcome of your application.
                </p>
                <p class="govuk-body">
                    For further support or information, please contact digital.identity.register@dsit.gov.uk.
                </p>
            </div>
        </div>
    </main>
</div>