
@{
    ViewData["Title"] = "You have agreed to proceed with your application to the register of digital identity and attribute services";
    Layout = "~/Views/Shared/_LayoutConsent.cshtml";
}


<div class="govuk-width-container"> 
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">You have agreed to proceed with your application to the register of digital identity and attribute services</h1>
                <p class="govuk-body">You have agreed to proceed with your application to join the register of digital identity and attribute services. A confirmation email has been sent to you.</p>
                <p class="govuk-body">You will receive an email within 3 weeks with the outcome of your application. If your application is approved, you will be required to give your agreement to publish your service details on the register.</p>
            </div>

        </div>
    </main>
</div>

