@{

    ViewData["Title"] = "Cancel Assignment Request";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}


<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Review this information and select 'Confirm' to cancel the assignment request.</h1>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Service: Online Identity assurance
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Service publication status
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <span class="govuk-tag govuk-tag--green">
                                        Published, under reassignment
                                    </span>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Registered name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Northrow Limited
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    CAB transferring this service
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    NQA
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    CAB accepting this service
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    BSI
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
              <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">What will happen next</h2>
                <p class="govuk-body">
                    The reassignment request sent for this service will no longer be valid.
                    If you need to reassign this service, you will need to create a new reassignment request.
                </p>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you cancel the reassignment request, the action cannot be undone.
                    </strong>
                </div>           
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Confirm
                    </button>
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel
                    </button>
                </div>
            </div>
         </div>
    </main>
</div>
                            