@{

    ViewData["Title"] = "Reassignment request cancelled";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">@ViewData["Title"]</h1>
                </div>
                <p class="govuk-body govuk-!-margin-bottom-7">You have cancelled the reassignment request for this service.</p>
               <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">
                    We will email the Conformity Assessment Body that has been received the reassignment
                    request, to let them know it has been cancelled.
                </p>
                <p class="govuk-body">
                    If you need this service, you will need to create a new request.
                </p>
                <div class="govuk-button-group">
                    <a asp-action="AllPublishedServices"
                       asp-controller="CabTransfer"
                       class="govuk-button">
                        Return to All published services
                    </a>
                </div>
            </div>
       </div>
    </main>
</div>
