@model object

@{
    var modelState = ViewData.ModelState;
}
@* For displaying error summary of all fields in a view model *@
@if (modelState != null && modelState.Any(m => m.Value.Errors.Any()))
{
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (var entry in modelState)
                    {
                        foreach (var error in entry.Value.Errors)
                        {
                            <li>
                                <a href="#@(entry.Key.ToLower())"><span class="govuk-visually-hidden">Error: </span>@error.ErrorMessage</a>                               
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}
