@model DVSAdmin.Models.PreRegistrationReviewViewModel;



@{
    bool hasSelectOptionError = ViewData.ModelState.ContainsKey("IsCountryApproved") && ViewData.ModelState["IsCountryApproved"].Errors.Count > 0 ||
    ViewData.ModelState.ContainsKey("IsCompanyApproved")  && ViewData.ModelState["IsCompanyApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("IsCheckListApproved")  && ViewData.ModelState["IsCheckListApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("IsDirectorshipsApproved")  && ViewData.ModelState["IsDirectorshipsApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("IsDirectorshipsAndRelationApproved")  && ViewData.ModelState["IsDirectorshipsAndRelationApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("IsTradingAddressApproved")  && ViewData.ModelState["IsTradingAddressApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("IsSanctionListApproved")  && ViewData.ModelState["IsSanctionListApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("IsUNFCApproved")  && ViewData.ModelState["IsUNFCApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("IsECCheckApproved")  && ViewData.ModelState["IsECCheckApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("IsTARICApproved")  && ViewData.ModelState["IsTARICApproved"].Errors.Count > 0 ||
    ViewData.ModelState.ContainsKey("IsBannedPoliticalApproved")  && ViewData.ModelState["IsBannedPoliticalApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("IsProvidersWebpageApproved")  && ViewData.ModelState["IsProvidersWebpageApproved"].Errors.Count > 0||
    ViewData.ModelState.ContainsKey("Comment")  && ViewData.ModelState["Comment"].Errors.Count > 0;
}

<div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
        <h2 class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">

                @if (hasSelectOptionError)
                {
                    <li>

                        <a href="#required-fields">You need to complete all sections before proceeding</a>
                    </li>
                }
                @if(ViewData.ModelState["SubmitValidation"] !=null)
                {
                    @foreach (var error in ViewData.ModelState["SubmitValidation"].Errors)
                    {
                        <li>
                            <a href="#submit-error">@error.ErrorMessage</a>
                        </li>
                    }
                }
               
              
            </ul>
        </div>
    </div>
</div>