@model DVSAdmin.Models.UI.SearchViewModel;


<h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="@Model.SearchTextFieldId">
       @Model.Label
    </label>
</h2>

@Html.TextBoxFor(m => m.SearchText, new { @class = "govuk-input govuk-!-margin-bottom-4", id = Model.SearchTextFieldId, name = Model.SearchTextFieldName})

<div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button" name="SearchAction" value="search">
        Search
    </button>

    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="SearchAction" value="clearSearch">
        Clear search
    </button>
</div>
