@model Tuple<string, IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>>

@if (Model != null && Model.Item2 != null && Model.Item2.Any())
{
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (var error in Model.Item2)
                    {
                        <li>
                            <a href="#@(Model.Item1.ToLower())-error">@error.ErrorMessage</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

   
}