@using Newtonsoft.Json
@{
    ViewData["Title"] = "You are about to confirm this service has passed the primary public interest check";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}


<div class="govuk-width-container">
    @Html.ActionLink("Back", "PrimaryCheckReview", "PublicInterestPrimaryCheck", new{serviceId = Convert.ToInt32(ViewBag.serviceId)}, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    You are about to confirm this service has passed the primary public interest check</h1>
                <p class="govuk-body">
                   If you need to, you can go back to the application review screens to make
                   changes by selecting the 'Cancel and back' button.
                </p>

                <h2 class="govuk-heading-m">What happens next</h2>

                <p class="govuk-body">
                    Once you select the 'Pass primary check' button, we will send an email to the
                    DI Register Notifications inbox. Another OFDIA user must then conduct the secondary
                    public interest check.
                </p>
                @using (Html.BeginForm("SavePrimaryCheckPassed", "PublicInterestPrimaryCheck", FormMethod.Post))
                {
                    <div class="govuk-button-group">

                        <button type="submit" class="govuk-button govuk-button" data-module="govuk-button" name="saveReview" value="save">
                            Pass primary check
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="cancel">
                            Cancel and back
                        </button>
                    </div>
                }
            </div>
        </div>
    </main>
</div>






