@model DVSAdmin.Models.PublicInterestCheckViewModel;
@using Newtonsoft.Json
@{
    ViewData["Title"] = "You are about to confirm this application has passed the primary check";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}


<div class="govuk-width-container">
    @Html.ActionLink("Back", "PrimaryCheckReview", "PublicInterestPrimaryCheck", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    You are about to confirm that this application has passed the primary check
                </h1>
                <p class="govuk-body">
                     If you have made a mistake, you can go back to the application review screen to make changes.
                </p>

                <h2 class="govuk-heading-m">What will happen once you confirm that the application has passed the primary check</h2>

                <p class="govuk-body">
                    Once you confirm that the application has passed the primary check, an email notification of your decision will be sent to the Digital Identity Register Portal inbox. Another OfDIA user must then complete the complete secondary check.
                </p>
                @using (Html.BeginForm("SavePrimaryCheckPassed", "PublicInterestPrimaryCheck", FormMethod.Post))
                {
                    <div class="govuk-button-group">

                        <button type="submit" class="govuk-button govuk-button" data-module="govuk-button" name="saveReview" value="save">
                            Pass primary check
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="cancel">
                            Cancel
                        </button>
                    </div>
                }
            </div>
        </div>
    </main>
</div>






