@model DVSAdmin.Models.PublicInterestCheckViewModel;
@using Newtonsoft.Json
@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions;
@{
    ViewData["Title"] = "Passed primary check confirmation";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}



<div class="govuk-width-container">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Passed primary check confirmation
                </h1>
                <p class="govuk-body">
                    You have confirmed the following application has passed the primary <br />check:
                </p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Service Provider</th>
                            <th scope="col" class="govuk-table__header">Service Name</th>
                            <th scope="col" class="govuk-table__header">Conformity Assessment Body</th>
                            <th scope="col" class="govuk-table__header">Time Submitted(UTC)</th>
                            <th scope="col" class="govuk-table__header">Review Status</th>
                            <th scope="col" class="govuk-table__header">Days left to <br />complete <br />review</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">NNC</td>
                            <td class="govuk-table__cell">Amez Corp</td>
                            <td class="govuk-table__cell">Financial Service</td>
                            <td class="govuk-table__cell">'2024-02-03', '12:00'</td>
                            <td class="govuk-table__cell">Received</td>
                            <td class="govuk-table__cell">10 days</td>
                        </tr>
                    </tbody>
                </table>

                <p class="govuk-body">
                    This application will be moved to the secondary check tab. A second reviewer will need to approve this decision. An email notification of this status update will be sent to the Digital identity Register Portal inbox within the next 20 minutes.
                </p>

                @using (Html.BeginForm("PublicInterestCheck", "PublicInterestCheck", FormMethod.Get))
                {
                    <button type="submit" class="govuk-button" data-module="govuk-button" name="saveReview" value="approve">
                        Go back to public interest check
                    </button>
                }

            </div>
        </div>
    </main>
</div>
