<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">Removal request cancelled</h1>
                </div>
                <p class="govuk-body">
                    You have cancelled the removal request for this service.
                </p>

                <h2 class="govuk-heading-m govuk-!-margin-top-8">What will happen next</h2>
                <p class="govuk-body">
                    You will receive an email confirming that the removal request has been cancelled.
                </p>
                <p class="govuk-body">
                    If you need to remove this service, you will need to create a new removal request.
                </p>

                <div class="govuk-button-group govuk-!-margin-top-8 govuk-!-margin-bottom-8">
                    <a href="@Url.Action("ProviderDetails", "RegisterManagement", new { @providerId = ViewBag.providerId})" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Return to service provider profile
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>
