@model DVSAdmin.BusinessLogic.Models.ProviderProfileDto

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Basic information
        </h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Public contact email
                </dt>
                <dd class="govuk-summary-list__value">
                   @Model.PublicContactEmail
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ProviderTelephoneNumber
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Website address
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ProviderWebsiteAddress
                </dd>
            </div>
        </dl>
    </div>
</div>