@model DVSAdmin.BusinessLogic.Models.ProviderProfileDto
@{
    bool showViewDetailsLink = Convert.ToBoolean(ViewBag.showViewDetailsLink);
}
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Provider information
        </h2>

        @if(showViewDetailsLink)
        {
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="/edit-provider/change-provider-details?providerId=@Model.Id&isEditPage=true">View provider details<span class="govuk-visually-hidden"> of @Model.RegisteredName</span></a>
                </li>
              
            </ul>
        }
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Public contact email
                </dt>
                <dd class="govuk-summary-list__value">
                    <div> @Html.DisplayFor(model => model.PublicContactEmail) </div>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Public telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                    <div> @Html.DisplayFor(model => model.ProviderTelephoneNumber) </div>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Website address
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ProviderWebsiteAddress
                </dd>
            </div>
        </dl>
    </div>
</div>