@model DVSAdmin.BusinessLogic.Models.ProviderProfileDto
@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions;
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Publication status</th>
            <th scope="col" class="govuk-table__header">Date and time of last <br />activity (GMT)</th>
            <th scope="col" class="govuk-table__header">Conformity Assessment <br />Body</th>
            <th scope="col" class="govuk-table__header">Services</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">              
                    @HtmlExtensions.ToStyledStrongTag(Model.ProviderStatus)  
            </td>
            <td class="govuk-table__cell">

                @(DateTimeExtensions.FormatDateTime(Model.ModifiedTime))
              
            </td>
            <td class="govuk-table__cell">
                @foreach (var cab in ViewModelHelper.GetCabsForProvider(Model.Services))
                {
                    <div class="govuk-!-margin-bottom-1">
                        @cab
                    </div>
                }
            </td>
            <td class="govuk-table__cell">

                @foreach (var item in @Model.Services)
                {
                    <div class="govuk-!-margin-bottom-1">
                        @item.ServiceName
                    </div>                  
                }               
              
            </td>
        </tr>
    </tbody>

</table>