
<dl class="govuk-summary-list govuk-!-margin-bottom-8">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Publication status
        </dt>
        <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--yellow">
                Ready to publish
            </strong>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Registered name
        </dt>
        <dd class="govuk-summary-list__value">
            Northrow Limited
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Trading name(s)
        </dt>
        <dd class="govuk-summary-list__value">
            Northrow
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Company address details
        </dt>
        <dd class="govuk-summary-list__value">
            85 Great Portland Street<br />
            London<br />
            W1W 7LT<br />
            United Kingdom
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name of service
        </dt>
        <dd class="govuk-summary-list__value">
            Remote Verify
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Role(s) certified against
        </dt>
        <dd class="govuk-summary-list__value">
            Identity Service Provider (IDSP)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Identity profiles
        </dt>
        <dd class="govuk-summary-list__value">
            M1A
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Supplementary schemes
        </dt>
        <dd class="govuk-summary-list__value">
            Right to Work
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Service provider’s certificate
            of conformity
        </dt>
        <dd class="govuk-summary-list__value">
            Certificate-150324-Northrow-Remote Verify
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of issue
        </dt>
        <dd class="govuk-summary-list__value">
            21 October 2022
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of expiry
        </dt>
        <dd class="govuk-summary-list__value">
            21 October 2024
        </dd>
    </div>
</dl>


