@* // TODO: Change this hard-coded view into a strongly-typed view: *@
<h3 class="govuk-heading-m">Supplementary Codes</h3>
<h4 class="govuk-heading-m">Right to work</h4>
<dl>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 45 identity profiles</dt>
        <dd class="govuk-summary-list__value">
            L1A<br/>
            M2C<br/>
            H2D
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 44 quality of authenticator</dt>
        <dd class="govuk-summary-list__value">
            Medium<br/>
            High
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 44 quality of protection</dt>
        <dd class="govuk-summary-list__value">
            High
        </dd>
    </div>
</dl>
<h4 class="govuk-heading-m">Right to rent</h4>
<dl>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 45 identity profiles</dt>
        <dd class="govuk-summary-list__value">
            H3A<br/>
            V3A
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 44 quality of authenticator</dt>
        <dd class="govuk-summary-list__value">
            Medium
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 44 quality of protection</dt>
        <dd class="govuk-summary-list__value">
            High
        </dd>
    </div>
</dl>
<h4 class="govuk-heading-m">Disclosure and Barring Service</h4>
<dl>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 45 identity profiles</dt>
        <dd class="govuk-summary-list__value">
            H2A<br/>
            V1A
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 44 quality of authenticator</dt>
        <dd class="govuk-summary-list__value">
            Not applicable
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GPG 44 quality of protection</dt>
        <dd class="govuk-summary-list__value">
            Not applicable
        </dd>
    </div>
</dl>