@* // TODO: Change this hard-coded view into a strongly-typed view: *@
<h3 class="govuk-heading-m">Underpinning service details</h3>
<dl>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Service name</dt>
        <dd class="govuk-summary-list__value">
            Arc
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Service Provider</dt>
        <dd class="govuk-summary-list__value">
            TrustedPoint
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">CAB of underpinning service</dt>
        <dd class="govuk-summary-list__value">
            ABC
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Underpinning certificate expire date</dt>
        <dd class="govuk-summary-list__value">
            20 June 2026
        </dd>
    </div>
</dl>