@model DVSAdmin.Models.NotificationBannerViewModel;
@{
}

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            This information has been submitted as part of a re-application or
            trust framework uplift for an existing service.</p>
        <p class="govuk-body">To see the original submission, go to <a class="govuk-notification-banner__link" href="#">Review a service certificate</a> and select the Archive tab.</p>
    </div>
</div>


