@using DVSAdmin.Extensions
@model DVSAdmin.Models.CertificateReview.ReviewViewModel

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Cerificate validation
        </dt>
        <dd class="govuk-summary-list__value">

            @if (Model.CertificateValid == true)
            {
                <strong class="govuk-tag govuk-tag--green">
                    Yes, the certificate is valid
                </strong>

            }
            else
            {
                @if (Model.IsSendBack == true)
                {
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed                      
                    </strong>
                }
                else
                {
                    <strong class="govuk-tag govuk-tag--red">                     

                        No, the certificate is not valid
                    </strong>
                }
              
            }

        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Information match
        </dt>
        <dd class="govuk-summary-list__value">

            @if (Model.InformationMatched == true)
            {
                <strong class="govuk-tag govuk-tag--green">
                    Yes, the information matches
                </strong>
            }
            else
            {
                @if(Model.IsSendBack == true)
                {
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed 
                    </strong>
                }
                else
                {
                    <strong class="govuk-tag govuk-tag--red">
                        No, the information does not match
                    </strong>
                }
               
            }

        </dd>
    </div>

    @if(!string.IsNullOrEmpty(Model.ReviewComments))
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Review comments
            </dt>
            <dd class="govuk-summary-list__value">

              @Model.ReviewComments

            </dd>
        </div>
    }

    
</dl>