@model object
@using DVSAdmin.Models.CertificateReview
<dl class="govuk-summary-list">
    @if (Model is CertficateRejectionViewModel)
    {
        var rejectionModel = Model as CertficateRejectionViewModel;
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsCabLogoCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Logos and certificate number
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsCabDetailsCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Conformity Assessment Body details
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsProviderDetailsCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Service provider details
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsServiceNameCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name of service
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsRolesCertifiedCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Roles certified against
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsCertificationScopeCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Scope of certification
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsServiceSummaryCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Summary of service
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsURLLinkToServiceCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    URL link to service
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsGPG45Correct))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GPG45 identity profiles
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsGPG44Correct))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GPG44 quality assessment
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsServiceProvisionCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Methods of service provision
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsLocationCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Geographical location
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsDateOfIssueCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of issue
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsDateOfExpiryCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of expiry
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateValidation.IsAuthenticyVerifiedCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Authenticity verification
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Incorrect
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(rejectionModel?.CertificateReview?.InformationMatched))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Information match
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        No, it does not match
                    </strong>
                </dd>
            </div>
        }
    }
    else if (Model is SendBackViewModel)
    {
        var sendBackModel = Model as SendBackViewModel;
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsCabLogoCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Logos and certificate number
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsCabDetailsCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Conformity Assessment Body details
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsProviderDetailsCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Service provider details
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsServiceNameCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name of service
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsRolesCertifiedCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Roles certified against
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsCertificationScopeCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Scope of certification
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsServiceSummaryCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Summary of service
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsURLLinkToServiceCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    URL link to service
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsGPG45Correct))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GPG45 identity profiles
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsGPG44Correct))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    GPG44 quality assessment
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsServiceProvisionCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Methods of service provision
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsLocationCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Geographical location
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsDateOfIssueCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of issue
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsDateOfExpiryCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of expiry
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
        @if (!Convert.ToBoolean(sendBackModel?.CertificateValidation.IsAuthenticyVerifiedCorrect))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Authenticity verification
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }

        @if (!Convert.ToBoolean(sendBackModel?.CertificateReview?.InformationMatched))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Information match
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                        Amendments needed
                    </strong>
                </dd>
            </div>
        }
    }
</dl>