@using DVSAdmin.BusinessLogic.Models
@using DVSAdmin.CommonUtility.Models.Enums;
@using DVSAdmin.Extensions;
@model CertificateInformationDto

<h3 class="govuk-heading-m">Contact information</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Public contact email
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.PublicContactEmail
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Telephone number
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.TelephoneNumber
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Website address
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.WebsiteAddress
        </dd>
    </div>
</dl>


