@model ServiceDto
@using DVSAdmin.BusinessLogic.Models

<h3 class="govuk-heading-m">Contact information</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Public contact email
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Provider.PublicContactEmail
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Public telephone number
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Provider.PrimaryContactTelephoneNumber
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Website address
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.Provider.ProviderWebsiteAddress
        </dd>
    </div>
</dl>


