<h3 class="govuk-heading-m">Provider contact information</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Email address of primary contact
        </dt>
        <dd class="govuk-summary-list__value">
            {PrimaryContactEmailAddress}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Email address of secondary contact
        </dt>
        <dd class="govuk-summary-list__value">
            {SecondaryContactEmailAddress}
        </dd>
    </div>
</dl>



