@model DVSAdmin.Models.CertificateReviewListViewModel;
@using DVSAdmin.CommonUtility.Models.Enums;
@{
    ViewData["Title"] = "Review a provider certificate";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">    
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-padding-bottom-5">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item">
                            @Html.ActionLink("Home", "LandingPage", "DigitalIdentity", null, new { @class = "govuk-breadcrumbs__link" })
                        </li>
                        <li class="govuk-breadcrumbs__list-item">
                            @Html.ActionLink("Certificate review", "CertificateReviews", "CertificateReview", null, new { @class = "govuk-breadcrumbs__link" })
                        </li>
                    </ol>
                </div>
                <h1 class="govuk-heading-xl">Review a provider certificate</h1>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Guidance on this section
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        In this section, you will need to review the certificate information submitted by Conformity Assessment Bodies. Start the review from top to bottom, as the applications that need more urgent action will appear at the top. Once completed, they will appear in the Archive tab.
                    </div>
                </details>
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#certificate-submissions">
                                Certificate submissions
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#archive">
                                Archive
                            </a>
                        </li>
                    </ul>

                    <div class="govuk-tabs__panel" id="certificate-submissions">
                        @await Html.PartialAsync("~/Views/CertificateReview/PartialViews/_CertificateReviewsView.cshtml", Model)
                    </div>
                    <div class="govuk-tabs__panel" id="archive">
                        @await Html.PartialAsync("~/Views/CertificateReview/PartialViews/_ArchiveView.cshtml", Model)
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>

