@{
    ViewData["Title"] = "You have approved this submission - GOV.UK";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "PreRegistrationReview", "PreRegistrationReview", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">You have approved this submission</h1>

                <p class="govuk-body">
                    You have successfully approved the submission.
                </p>
            </div>
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Service name</th>
                            <th scope="col" class="govuk-table__header">Service provider</th>
                            <th scope="col" class="govuk-table__header">Conformity Assessment Body</th>
                            <th scope="col" class="govuk-table__header">Role type</th>
                            <th scope="col" class="govuk-table__header">Time submitted</th>
                            <th scope="col" class="govuk-table__header">Review status</th>
                            <th scope="col" class="govuk-table__header">Time reviewed</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">Remote Verify</td>
                            <td class="govuk-table__cell">Northrow  Limited</td>
                            <td class="govuk-table__cell">NQA</td>
                            <td class="govuk-table__cell">Identity</td>
                            <td class="govuk-table__cell">
                                10:24 am;
                                1 Feb 2024
                            </td>
                            <td class="govuk-table__cell">
                                <strong class="govuk-tag govuk-tag--green">
                                    Approve for publication
                                </strong>
                            </td>
                            <td class="govuk-table__cell">
                                2:05 pm;
                                6 Feb 2024
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    The Conformity Assessment Body and OfDIA will receive an email notification of the submission decision within 20 minutes.
                </p>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button" name="approveSubmission" value="approveSubmission">
                        Go back to certificate review
                    </button>
                </div>
            </div>
        </div>
    </main>

</div>

