@{
    ViewData["Title"] = "Submission details - GOV.UK";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "PreRegistrationReview", "PreRegistrationReview", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-xl">Submission details</h1>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Service name</th>
                            <th scope="col" class="govuk-table__header">Service provider</th>
                            <th scope="col" class="govuk-table__header">Conformity Assessment Body</th>
                            <th scope="col" class="govuk-table__header">Role type</th>
                            <th scope="col" class="govuk-table__header">Time submitted</th>
                            <th scope="col" class="govuk-table__header">Review status</th>
                            <th scope="col" class="govuk-table__header">Days left to complete checks</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">

                            <td class="govuk-table__cell">Remote Verify</td>
                            <td class="govuk-table__cell">Northrow  Limited</td>
                            <td class="govuk-table__cell">NQA</td>
                            <td class="govuk-table__cell">Identity</td>
                            <td class="govuk-table__cell">
                                10:24 am;
                                1 Feb 2024
                            </td>
                            <td class="govuk-table__cell">
                                <strong class="govuk-tag govuk-tag--green">
                                    Approved for
                                    publication
                                </strong>
                                <strong class="govuk-tag govuk-tag--red">
                                    Rejected
                                </strong>
                            </td>
                            <td class="govuk-table__cell">1 day</td>

                        </tr>
                    </tbody>
                </table>
                <h2 class="govuk-heading-l">Provided certificate of conformity</h2>
                <p class="govuk-body-l">
                    Certificate-150324-Northrow-Remote Verify
                </p>
                <p class="govuk-body">
                    <span class="govuk-hint">
                        PDF, 19.5 KB, 1 page
                    </span>
                </p>
                <p class="govuk-body">
                    <span class="govuk-hint">
                        This file may not be suitable for users of assistive technology.
                    </span>
                </p>

                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="downloadCertificate">
                    Download certificate of conformity
                </button>


                <h2 class="govuk-heading-l">Submitted information</h2>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Registered name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Northrow Limited
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Trading name(s)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Northrow
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Company address details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <address>
                                5126 N Ravenswood Ave<br />
                                Unit 8<br />
                                Chicago<br />
                                Illinois<br />
                                60640<br />
                                United States
                            </address>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name of service
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Remote Verify
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name of role(s) certified against
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Identity Service Provider (IDSP)
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Identity profiles
                        </dt>
                        <dd class="govuk-summary-list__value">
                            M1A
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Supplementary schemes
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Right to Work
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Service provider’s certificate
                            of conformity
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Certificate-150324-Northrow-Remote Verify
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of issue
                        </dt>
                        <dd class="govuk-summary-list__value">
                            21 October 2022
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of expiry
                        </dt>
                        <dd class="govuk-summary-list__value">
                            21 October 2024
                        </dd>
                    </div>
                </dl>

                <h3 class="govuk-heading-m">Contact information</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Public contact email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            loooooooooooooonnnngggggname@email.com
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Telephone number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            07532167283
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Website address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            www.northrow.co.uk
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-l">Review summary</h2>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Certificate validation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">
                                Approved
                            </strong>
                            <strong class="govuk-tag govuk-tag--red">
                                Incorrect
                            </strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Information match
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--green">
                                Yes, it matches the information on the certificate
                            </strong>
                            <strong class="govuk-tag govuk-tag--red">
                                No, it does not match
                            </strong>
                        </dd>
                    </div>
                </dl>

                <h3 class="govuk-heading-m">Comments</h3>
                <p class="govuk-body">
                    All checks passed
                </p>
                <p class="govuk-body">
                    UKDIATF logo is missing
                </p>

            </div>
        </div>
    </main>

</div>

