@{
    ViewData["Title"] = "You are about to reject this submission";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}



<div class="govuk-width-container">
    @Html.ActionLink("Back", "RejectSubmission", "CertificateReview", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
                <p class="govuk-body">
                    We will not publish the provider's information to the register.
                </p>

                <p class="govuk-body">
                    We will email the Conformity Assessment Body (CAB) and other OFDIA users
                    to inform them of this decision.
                </p>
                <p class="govuk-body">
                    If the provider still wants to apply for this service to appear on the register, the
                    CAB will need to create a new submission.
                </p>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you reject this submission, this action can't be undone.
                    </strong>
                </div>

                @using (Html.BeginForm("ProceedConfirmRejection", "CertificateReview", FormMethod.Post))
                {
                    <div class="govuk-button-group">

                        <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" name="saveReview" value="proceed">
                            Reject submission
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="cancel">
                            Cancel and back
                        </button>
                    </div>
                }
            </div>
        </div>
    </main>
</div>

