@{
    ViewData["Title"] = "You are about to restore this submission";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "CertificateSubmissionDetails", "CertificateReview", new { certificateInfoId = ViewBag.ServiceId}, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">You are about to restore this submission</h1>

                <p class="govuk-body">
                    You are about to restore this submission. Completing this action will move the submission to the Certificate submissions tab for review.
                </p>
                <p class="govuk-body">
                    You should only take this action if the original submission was rejected in error. If you restore this submission, the submission details shown on the previous page will be re-reviewed by DSIT.
                </p>


                <hr class="govuk-section-break govuk-section-break--xl">


                @using (Html.BeginForm("RestoreSubmission", "CertificateReview", FormMethod.Post))
                {
                    int serviceId = ViewBag.ServiceId;
                    int reviewId = ViewBag.ReviewId;

                    <input type="hidden" name="serviceId" value="@serviceId" />
                    <input type="hidden" name="reviewId" value="@reviewId" />

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Confirm and restore this submission
                        </button>
                        <a href="/certificate-review/certificate-submission-details?certificateInfoId=@ViewBag.ServiceId" class="govuk-button govuk-button--secondary" role="button" draggable="false" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>
                }
                </div> 

            </div>
     
    </main>

</div>

