<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">Request email resent successfully</h1>
                </div>
                <h2 class="govuk-heading-m govuk-!-margin-top-7">You have resent the email</h2>
                <p class="govuk-body">
                    You’ve successfully sent an email reminding this provider to agree to start an application to appear on the register of digital identity and attribute services.
                </p>
                <h2 class="govuk-heading-m govuk-!-margin-top-7">What will happen next</h2>
                <p class="govuk-body">
                    The provider must confirm they want to start their application by selecting the link in the email you’ve sent them.
                </p>

                <div class="govuk-button-group govuk-!-margin-top-7 govuk-!-margin-bottom-8">
                    <a href="@Url.Action("CertificateReviews", "CertificateReview")" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Return to certificate review
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>
