
@{
    ViewData["Title"] = "ArchiveDetails";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">


        @*START: Please cut the code and put into a partial view*@

        <h2 class="govuk-heading-l">Certificate submissions</h2>


        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Service name</th>
                    <th scope="col" class="govuk-table__header">Service provider</th>
                    <th scope="col" class="govuk-table__header">Conformity Assessment Body</th>
                    <th scope="col" class="govuk-table__header">Role type</th>
                    <th scope="col" class="govuk-table__header">Time submitted</th>
                    <th scope="col" class="govuk-table__header">Review status</th>
                    <th scope="col" class="govuk-table__header">Days left to complete checks</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">

                    <td class="govuk-table__cell"> <a class="govuk-link" href="#">Remote Verify</a></td>
                    <td class="govuk-table__cell">Northrow  Limited</td>
                    <td class="govuk-table__cell">NQA</td>
                    <td class="govuk-table__cell">Identity</td>
                    <td class="govuk-table__cell">
                        10:24 am;
                        1 Feb 2024
                    </td>
                    <td class="govuk-table__cell">
                        <span class="govuk-tag govuk-tag--yellow">
                            In review
                        </span>
                    </td>
                    <td class="govuk-table__cell">1 day</td>

                </tr>
            </tbody>
        </table>


        @*END: Please cut the code and put into a partial view*@

    </main>
</div>