@using DVSAdmin.CommonUtility
@model ProfileSummaryViewModel
@{
    ViewData["Title"] = "All providers";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">All providers</h1>
                <p class="govuk-body">
                    Find any providers that is, or has previously been, published to the register of digital identity and attribute services.
                </p>
                <p class="govuk-body">
                    View or amend information about their services or contact details.
                </p>
            </div>
            @using (Html.BeginForm("ListProviders", "Cab", FormMethod.Get))
            {
                <div class="govuk-grid-column-two-thirds">
                    @{
                        var searchTextBoxViewModel = new TextBoxViewModel
                        {
                            PropertyName = "SearchText",
                            Label = "Search for a service",
                            Class = "govuk-input",
                        };
                    }

                    @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", searchTextBoxViewModel)

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button" name="SearchAction" value="search">
                            Search
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="SearchAction" value="clearSearch">
                            Clear search
                        </button>
                    </div>
                </div>
            }
        </div>

        <div class="govuk-form-group" style="border: 1px solid #b1b4b6; padding: 20px; padding-bottom: 0px; margin-top: 20px;">
            <table class="govuk-table govuk-table--small-text-until-tablet">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-5">
                    List of all providers
                    <span class="govuk-visually-hidden">column headers with links are sortable</span>
                </caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row sortable-table">
                        <th scope="col" class="govuk-table__header">
                            <b>Service provider</b>
                        </th>
                        <th scope="col" class="govuk-table__header">
                            <b>Service name</b>
                        </th>
                        <th scope="col" class="govuk-table__header">
                            <b>Conformity Assessment Body</b>
                        </th>
                    </tr>
                </thead>
            </table>
          <div>
            <nav class="govuk-pagination" aria-label="Pagination">
                <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                        </svg>
                        <span class="govuk-pagination__link-title">
                            Previous<span class="govuk-visually-hidden"> page</span>
                        </span>
                    </a>
                </div>
                <ul class="govuk-pagination__list">
                    <li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                            1
                        </a>
                    </li>
                    <li class="govuk-pagination__item govuk-pagination__item--current">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                            2
                        </a>
                    </li>
                    <li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                            3
                        </a>
                    </li>
                </ul>
                <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                        <span class="govuk-pagination__link-title">
                            Next<span class="govuk-visually-hidden"> page</span>
                        </span>
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                    </a>
                </div>
            </nav>
          </div>
        </div>
    </main>
</div>