
@{
    ViewData["Title"] = "Service error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
         
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-top-2">Sorry, there is a problem with the service</h1>

                <div class="govuk-button-group">
                    <a href="~/" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                       Return to service
                    </a>

                </div>
                
            </div>
        </div>
    </main>
</div>