
@{
    ViewData["Title"] = "ServiceIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
                <p class="govuk-body">
                    Try again later.
                </p>
                <p class="govuk-body">
                    TODO: change content
                </p>

            </div>
        </div>
    </main>
</div>

