
@{
    ViewData["Title"] = "Service issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
                <p class="govuk-body">
                    Please try again and click here to <a href="~/" class="govuk-link">restart the service.</a>
                </p>
            </div>
        </div>
    </main>
</div>