@model DVSAdmin.Models.ServiceSummaryViewModel
@{
    ViewData["Title"] = "Details you have provided about the underpinning service";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";

    ViewData["Manual"] = true;
}

<div class="govuk-width-container">
    <a href="@((Model.FromSummaryPage) ? Url.Action("ServiceSummary", "EditService") : Url.Action("ServiceDetails", "RegisterManagement", new { serviceKey = Model.ServiceKey }))" class="govuk-back-link">Back</a>

    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
                <p class="govuk-body govuk-hint">
                    The certification of the white-labelled service will be linked to this underpinning service.
                </p>
                <p class="govuk-body govuk-hint govuk-!-padding-bottom-6">
                    Select 'Continue' to provide further details about the white-labelled service.
                </p>
                @await Html.PartialAsync("PartialViews/_UnderpinningServiceDetails", Model)

                <div class="govuk-button-group">
                    <a href="@(Url.Action( "ServiceSummary", "EditService"))" class="govuk-button govuk-!-margin-top-6" role="button" data-module="govuk-button">Save</a>
                    <a href="@((Model.FromSummaryPage) ? Url.Action( "ServiceSummary", "EditService") :
                        Url.Action("ServiceDetails", "RegisterManagement", new { serviceKey = Model.ServiceKey  }))" class="govuk-button govuk-button--secondary" role="button">Cancel</a>
                </div>
            </div>
        </div>
    </main>
</div>