@model DVSAdmin.Models.PublicInterestSecondaryCheckViewModel;
@using Newtonsoft.Json
@using DVSAdmin.Extensions;
@{
    ViewData["Title"] = "Request another primary check";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "SecondaryCheckReview", "PublicInterestSecondaryCheck", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Request another primary check
                </h1>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Service provider</th>
                            <th scope="col" class="govuk-table__header">Service name</th>
                            <th scope="col" class="govuk-table__header">Conformity <br />assessment <br />body</th>
                            <th scope="col" class="govuk-table__header">Time submitted (UTC)</th>
                            <th scope="col" class="govuk-table__header">Review status</th>
                            <th scope="col" class="govuk-table__header">Days left to complete review</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@Model?.Service?.Provider.RegisteredName</td>
                            <td class="govuk-table__cell">@Model?.Service?.ServiceName</td>
                            <td class="govuk-table__cell">@Model?.Service?.CabUser.Cab.CabName</td>
                            <td class="govuk-table__cell">@DateTimeExtensions.FormatDateTime(Model.Service.ModifiedTime)</td>
                            <td class="govuk-table__cell">@HtmlExtensions.ToStyledStrongTag(Model.Service.PublicInterestCheck.PublicInterestCheckStatus)</td>
                            <td class="govuk-table__cell">@DateTimeExtensions.FormatDateTime(Model.Service.PublicInterestCheck.SecondaryCheckTime, "h:mm tt; d MMM yyyy")</td>
                        </tr>
                    </tbody>
                </table>              
               
            </div>

            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">
                    What will happen once you send back to primary
                    check for another review
                </h2>
                <p>
                    Once you send back to primary check for another review, the responsible
                    reviewer for the primary check will receive a notification to conduct a check
                    again. You will receive a notification once the primary check is completed.
                </p>

                @using (Html.BeginForm("SaveSentBackForPrimaryCheck", "PublicInterestSecondaryCheck", FormMethod.Post))
                {
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button" name="saveReview" value="sentback">
                            Sent back to primary check for another review
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="cancel">
                            Cancel
                        </button>
                    </div>
                }

            </div>
        </div>
    </main>
</div>


