@model DVSAdmin.Models.PublicInterestSecondaryCheckViewModel;
@using Newtonsoft.Json
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@{
    ViewData["Title"] = "Request another primary check";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "SecondaryCheckReview", "PublicInterestSecondaryCheck", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Request another primary check
                </h1>
                <div class="govuk-grid-column-full">
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Service name</th>
                                <td class="govuk-table__cell">Remote Verify</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Service Provider</th>
                                <td class="govuk-table__cell">Northrow Limited</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Conformity Assessment Body (CAB)</th>
                                <td class="govuk-table__cell">BSI</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Days left to complete review</th>
                                <td class="govuk-table__cell">1 day</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">New application or reapplication</th>
                                <td class="govuk-table__cell">Reapplication</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Review status</th>
                                <td class="govuk-table__cell">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="more-detail">
                        Comment(required)
                    </label>
                </h1>
                <div id="more-detail-hint" class="govuk-hint">
                    Please add additional details to support your decision. This information will only be visible to OfDIA users.
                </div>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">
                    What will happen next
                </h2>
                <p class="govuk-body">
                    Once you request another review, the person who completed the primary
                    check will recieve a notification to conduct another primary check. You will recieve a
                    notification once the primary check is completed.
                </p>



                @using (Html.BeginForm("SaveSentBackForPrimaryCheck", "PublicInterestSecondaryCheck", FormMethod.Post))
                {
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button" name="saveReview" value="sentback">
                            Sent back to primary check
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="cancel">
                            Cancel and back
                        </button>
                    </div>
                }

            </div>
        </div>
    </main>
</div>


