@using DVSAdmin.Models.Edit
@model DVSAdmin.Models.Edit.DateViewModel
@{
    ViewData["Title"] = "Certificate Conformity Expiry Date";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@{
    bool hasError = false;
    bool hasDateError = false;
    bool hasDayError = false;
    bool hasMonthError = false;
    bool hasYearError = false;
}

<div class="govuk-width-container">
    <a href="@((Model.FromSummaryPage) ? Url.Action("ServiceSummary", "EditService") : Url.Action("ServiceDetails", "RegisterManagement", new { serviceKey = ViewBag.ServiceKey }))" class="govuk-back-link">Back</a>
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    Certificate of conformity expiry date
                </h1>
                @if (ViewData.ModelState.ErrorCount > 0)
                {
                    hasError = true;
                    ViewData["Title"] = "Error: " + ViewData["Title"];


                    @await Html.PartialAsync("~/Views/PartialViews/_DateErrorSummaryView.cshtml", Model)


                    if ((Html.ViewData.ModelState.ContainsKey("ValidDate") && Html?.ViewData?.ModelState["ValidDate"]?.Errors.Count > 0))
                    {
                        hasDateError = true; hasDayError = true; hasMonthError = true; hasYearError = true;
                    }
                    if ((Html.ViewData.ModelState.ContainsKey("Day") && Html?.ViewData?.ModelState["Day"]?.Errors.Count > 0))
                    {
                        hasDayError = true;
                    }

                    if ((Html.ViewData.ModelState.ContainsKey("Month") && Html?.ViewData?.ModelState["Month"]?.Errors.Count > 0))
                    {
                        hasMonthError = true;
                    }
                    if ((Html.ViewData.ModelState.ContainsKey("Year") && Html?.ViewData?.ModelState["Year"]?.Errors.Count > 0))
                    {
                        hasYearError = true;
                    }
                }

                @using (Html.BeginForm("ConformityExpiryDate", "EditService", FormMethod.Post))
                {
                    <p class="govuk-body">
                        This must match the information on the certificate of conformity. We do not accept
                        certificates with an expiry date of more than 2 years 60 days after the date of issue
                    </p>


                    var conformityExpiryDateViewModel = new DateInputViewModel
                {
                    PropertyName = "ConformityExpiryDate",
                    HasError = hasError,
                    ErrorMessage = hasDateError ? Html?.ViewData?.ModelState["ValidDate"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                    FieldsetLegend = "Certificate of conformity expiry date",
                    Hint = "For example, 27 3 2007",

                    Day = Convert.ToString(Model.Day) ?? string.Empty,
                    HasDayError = hasDayError,
                    DayError = !hasDateError & hasDayError ? Html?.ViewData?.ModelState["Day"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,

                    Month = Convert.ToString(Model.Month) ?? string.Empty,
                    HasMonthError = hasMonthError,
                    MonthError = !hasDateError & hasMonthError ? Html?.ViewData?.ModelState["Month"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,

                    Year = Convert.ToString(Model.Year) ?? string.Empty,
                    HasYearError = hasYearError,
                    YearError = !hasDateError & hasYearError ? Html?.ViewData?.ModelState["Year"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty
                };

                    @await Html.PartialAsync("~/Views/PartialViews/_DateView.cshtml", conformityExpiryDateViewModel)

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-!-margin-top-2">Continue</button>
                        <a href="@((Model.FromSummaryPage) ? Url.Action("ServiceSummary", "EditService") : Url.Action("ServiceDetails", "RegisterManagement", new { serviceKey = ViewBag.ServiceKey }))" class="govuk-button govuk-button--secondary" role="button">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </main>
</div>
