@using DVSAdmin.Models.UI.Enums
@model DVSAdmin.Models.ServiceSummaryViewModel

@{
    ViewData["Title"] = "SelectSupplementarySchemes";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@{
    bool hasError = false;
}


<div class="govuk-width-container">
    <a href="@((Model.FromSummaryPage) ? Url.Action("ServiceSummary", "EditService") : Url.Action("ServiceDetails", "RegisterManagement", new { serviceKey = Model.ServiceKey }))" class="govuk-back-link">Back</a>
    @using (Html.BeginForm("GPG45Input", "EditService", FormMethod.Post))
    {
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if (Html.ViewData?.ModelState.ContainsKey("HasGPG45") == true)
                    {
                        hasError = true;
                        var errors = Html.ViewData?.ModelState["HasGPG45"]?.Errors;
                        if (errors != null && errors.Count > 0)
                        {
                            hasError = true;
                            ViewData["Title"] = "Error: " + ViewData["Title"];
                            @await Html.PartialAsync("~/Views/PartialViews/_SpecificErrorsView.cshtml",
                                     new Tuple<string, IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>>("HasGPG45", errors))
                        }

                    }
                    @await Html.PartialAsync("~/Views/PartialViews/_TwoRadioButtonGroupView.cshtml", new TwoRadioButtonGroupViewModel
                    {
                        PropertyName = "HasGPG45",
                        Value = Model.HasGPG45,
                        FieldSet = "Is the service certified against GPG45 identity profiles?",
                        ParagraphText = "This must match the information on the certificate of conformity.",
                        Heading = HeadingEnum.H1,
                        LegendStyleClass = "govuk-fieldset__legend--xl",
                        HasError = Html.ViewData.ModelState.ContainsKey("HasGPG45") && Html.ViewData.ModelState["HasGPG45"].Errors.Count > 0,
                        ErrorMessage = Html.ViewData.ModelState.ContainsKey("HasGPG45") && Html.ViewData.ModelState["HasGPG45"].Errors.Count > 0 ?
                        Html.ViewData.ModelState["HasGPG45"].Errors[0].ErrorMessage : string.Empty,
                        Label1 = "Yes",
                        Label2 = "No"
                    }
                    )
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-!-margin-top-2">Continue</button>
                        <a href="@((Model.FromSummaryPage) ? Url.Action("ServiceSummary", "EditService") : Url.Action("ServiceDetails", "RegisterManagement", new { serviceKey = Model.ServiceKey }))" class="govuk-button govuk-button--secondary" role="button">Cancel</a>
                    </div>
                </div>
            </div>
        </main>
    }
</div>
