@using DVSAdmin.Extensions
@using DVSAdmin.BusinessLogic.Models
@model ServiceDto
@{
    ViewData["Title"] = "You have requested to update information about this service";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">You have requested to update information about this service</h1>


                <div class="govuk-grid-column-full">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Service: @Model.ServiceName
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Service name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.ServiceName
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Service publication status
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @HtmlExtensions.ToStyledStrongTag(Model.ServiceStatus)
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Service provider registered name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model?.Provider.RegisteredName
                                    </dd>
                                </div>
                               
                            </dl>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body">The Office for Digital Identities and Attributes  will receive an email notification of the update request.</p>

                <a href="@( Url.Action("ServiceDetails", "RegisterManagement", new { serviceKey = Model.ServiceKey }) )" class="govuk-button" role="button">Go back to service provider</a>



            </div>
        </div>
    </main>
</div>

