@model DVSAdmin.Models.ServiceSummaryViewModel
@{
    ViewData["Title"] = "Check your answers before submitting your request to update information";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@{
    string refererUrl = Convert.ToString(ViewBag.RefererUrl);
}

<div class="govuk-width-container">
    <a href="@refererUrl" class="govuk-back-link">
        Back
    </a>
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Check your answers before submitting your request to update information</h1>
            </div>
            <div class="govuk-grid-column-full">
                @await Html.PartialAsync("~/Views/EditService/PartialViews/_EditServiceDetailsView.cshtml", Model)
                <div class="govuk-button-group">
                    <a href="summary-of-changes" class="govuk-button" role="button">
                        Continue
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>

