@model DVSAdmin.Models.Home.OpenTaskCount

<a href="/pending-certificate-reviews" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
   Pending certificate Reviews
</a>

<a href="/pending-primary-checks" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" >
    Pending primary checks
</a>
