@model DVSAdmin.Models.PublicInterestSecondaryCheckViewModel;
@using DVSAdmin.Extensions;
@using DVSAdmin.CommonUtility.Models.Enums;
@{
    ViewData["Title"] = "Primary check request successful";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Primary check request successful
                </h1>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Service Provider</th>
                            <th scope="col" class="govuk-table__header">Service Name</th>
                            <th scope="col" class="govuk-table__header">Conformity <br />Assessment <br />Body</th>
                            <th scope="col" class="govuk-table__header">Time Submitted(UTC)</th>
                            <th scope="col" class="govuk-table__header">Review Status</th>
                            <th scope="col" class="govuk-table__header">Days left to complete review</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">Example Services</a></td>
                            <td class="govuk-table__cell">Example 2</td>
                            <td class="govuk-table__cell">NQA</td>
                            <td class="govuk-table__cell">11:30; 01 Feb 2024</td>
                            <td class="govuk-table__cell"><strong>Primary check passed</strong></td>
                            <td class="govuk-table__cell">1 day</td>
                        </tr>
                    </tbody>
                </table>


                <div class="govuk-grid-column-two-thirds">
                   
                    <div id="applicationSponsor-hint" class="govuk-hint">
                        The Digital Identity Register Portal user will receive an email notification of the
                        application status change within 20 minutes.
                    </div>

                    @using (Html.BeginForm("PreRegistrationReview", "PreRegistrationReview", FormMethod.Get))
                    {
                        <button type="submit" class="govuk-button" data-module="govuk-button" >
                            Go back to public interest check
                        </button>
                    }
                </div>

            </div>
        </div>
    </main>
</div>


