@{
    ViewData["Title"] = "Approve Public Interest Check";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    @Html.ActionLink("Back", "PublicInterestSecondaryCheck", "PublicInterestCheck", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Approve Public Interest Check</h1>
                <p class="govuk-body">
                    You are about to confirm that the following application has passed all required checks:
                </p>
                <form action="#" method="post">
                    <input type="hidden" name="PublicInterestCheckId" value="12345" />
                    <input type="hidden" name="PrimaryCheckUserId" value="67890" />
                    <input type="hidden" name="SecondaryCheckUserId" value="54321" />

                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Service Provider</th>
                                <th scope="col" class="govuk-table__header">Service Name</th>
                                <th scope="col" class="govuk-table__header">Conformity Assessment<br />Body</th>
                                <th scope="col" class="govuk-table__header">Time Submitted (UTC)</th>
                                <th scope="col" class="govuk-table__header">Review Status</th>
                                <th scope="col" class="govuk-table__header">Days left to<br />complete review</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a href="#" class="govuk-link">Northrow Limited</a></td>
                                <td class="govuk-table__cell">Remote Verify</td>
                                <td class="govuk-table__cell">NQA</td>
                                <td class="govuk-table__cell">01 September 2024</td>
                                <td class="govuk-table__cell"><strong>Primary check passed</strong></td>
                                <td class="govuk-table__cell">1 day</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="govuk-heading-l">What will happen once you approve</h2>
                    <p class="govuk-body">
                        Once you approve the application, you are confirming that this application has passed all required checks. The provider will receive an email asking for their agreement to publish the service on the register.
                    </p>
                    <h3 class="govuk-heading-m">Who will receive the application decision notification</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Email address of primary contact</dt>
                            <dd class="govuk-summary-list__value">johndoe@example.com</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Email address of secondary contact</dt>
                            <dd class="govuk-summary-list__value">johndoe@example.com</dd>
                        </div>
                    </dl>

                    <h3 class="govuk-heading-m">Service Information that will be sent to provider to agree<br /> upon approval</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Basic information</dt>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Public contact email</dt>
                            <dd class="govuk-summary-list__value">johndoe@example.com</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Telephone number</dt>
                            <dd class="govuk-summary-list__value">+1234567890</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Website address</dt>
                            <dd class="govuk-summary-list__value">johndoe@example.com</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Service details: Online identity assurance </dt>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Registered name</dt>
                            <dd class="govuk-summary-list__value">John Doe</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Trading names</dt>
                            <dd class="govuk-summary-list__value">CEO</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Company address<br /> details</dt>
                            <dd class="govuk-summary-list__value">14, Henry St, London</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name of service</dt>
                            <dd class="govuk-summary-list__value">John Doe</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Roles certified<br /> against</dt>
                            <dd class="govuk-summary-list__value">Service provider</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Identity Profiles</dt>
                            <dd class="govuk-summary-list__value">XYZ</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Supplementary<br /> schemes</dt>
                            <dd class="govuk-summary-list__value">XYZ</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Service provider's<br /> certificate<br /> of conformity</dt>
                            <dd class="govuk-summary-list__value">Certificate-123.pdf</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of issue</dt>
                            <dd class="govuk-summary-list__value">22 June 2024</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of expiry</dt>
                            <dd class="govuk-summary-list__value">22 June 2025</dd>
                        </div>
                    </dl>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="approve">
                            Proceed with approval
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="sentback">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
