
@{
    ViewData["Title"] = "PublicInterestCheckConfirmApproval";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<div class="govuk-width-container">
    @Html.ActionLink("Back", "PublicInterestApproveSecondaryCheck", "PublicInterestCheck", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">You are about to approve the public interest check</h1>

                <p class="govuk-body">
                    This is the final stage of the application. The provider will receive an email asking for their agreement to publish the service on the register.
                </p>
                <p class="govuk-body">
                    The Digital identity register Portal inbox will receive an email notifying them of this decision.
                </p>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you approve public interest checks, the action can’t be undone.
                    </strong>
                </div>

                @using (Html.BeginForm("ProceedApprovePublicInterestCheck", "PublicInterestCheck", FormMethod.Post))
                {
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button" name="saveReview" value="approve">
                            Approve submission
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveReview" value="cancel">
                            Cancel
                        </button>
                    </div>
                }
            </div>

        </div>
    </main>

</div>



