@model DVSAdmin.Models.Cookies.CookieSettingsViewModel
@using DVSAdmin.Extensions
@{
    ViewData["Title"] = "CertificateInfoSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CookieSettings_Post", "Cookie", FormMethod.Post))
{
    <div class="govuk-width-container">
        @* @Html.ActionLink("Back", "ConfirmityExpiryDate", "Cab", null, new { @class = "govuk-back-link" }) *@
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Cookies</h1>
                    <p class="govuk-body">
                        Cookies are small files saved on your phone, tablet or computer when you visit a website. This page lists all of the cookies we use on this service.
                    </p>
                    <p class="govuk-body">
                        We use cookies to make this service work and collect information about how you use our service. The cookies we use do not identify you personally.
                    </p>
                    <h2 class="govuk-heading-l">Essential cookies</h2>
                    <p class="govuk-body">
                        Essential cookies keep your information secure while you use the service. We do not need to ask permission to use them.
                    </p>

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Name</th>
                                <th scope="col" class="govuk-table__header">Purpose</th>
                                <th scope="col" class="govuk-table__header">Expires</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">cookie_policy</th>
                                <td class="govuk-table__cell">Saves your cookie consent settings	</td>
                                <td class="govuk-table__cell">365 days</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">cookie_policy</th>
                                <td class="govuk-table__cell">Saves your cookie consent settings	</td>
                                <td class="govuk-table__cell">365 days</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 class="govuk-heading-l">Analytics cookies (optional)</h2>
                    <p class="govuk-body">
                        With your permission, we use Google Analytics to collect data about how you use this service. This information helps us to improve our service.
                    </p>
                    <p class="govuk-body">
                        Google is not allowed to use or share our analytics data with anyone.
                    </p>
                    <p class="govuk-body">
                        Google Analytics stores anonymised information about:
                    </p>
                    <ul class="govuk-list">
                        <li>how you got to the service</li>
                        <li>pages you visit and how long you spend on each page</li>
                        <li>what you click on while you're using the service</li>
                        <li>the device and browser you use</li>
                    </ul>
                    <p class="govuk-body">
                        Neither our service nor Google store any personal details, including your IP address, with this information. You cannot be identified.
                    </p>
                    <div class="govuk-inset-text">
                        Google is not allowed to use or share our analytics data with anyone.
                    </div>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Name</th>
                                <th scope="col" class="govuk-table__header">Purpose</th>
                                <th scope="col" class="govuk-table__header">Expires</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">cookie_policy</th>
                                <td class="govuk-table__cell">Saves your cookie consent settings	</td>
                                <td class="govuk-table__cell">365 days</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">cookie_policy</th>
                                <td class="govuk-table__cell">Saves your cookie consent settings	</td>
                                <td class="govuk-table__cell">365 days</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="govuk-heading-m"></h3>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h3 class="govuk-fieldset__heading">
                                    Do you want to accept Google Analytics cookies?
                                </h3>
                            </legend>
                            <div id="changedName-hint" class="govuk-hint">
                                You can come back to this page and change your decision at any time. To come back to this page, go to the ‘cookies’ link on the page footer.
                            </div>
                            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                                    <label class="govuk-label govuk-radios__label" for="changedName">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="changedName-2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <button type="submit" data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Save cookie settings
            </button>
        </main>
    </div>

}

